.screen {
    display: grid;
    grid-template-rows: 10fr 80fr 10fr;
    grid-template-columns: 37fr 26fr 37fr;
    height: 100vh;
}

.calculator {
    grid-column: 2;
    grid-row: 2;
    border: 1px solid #000000;
    border-radius: 5%;
    padding: 1em;
    max-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    display: grid;
    place-items: center;
    width: 3em;
    height: 3em;
    border: 1px solid #000000;
    margin: 1em;
    background-color: #a52a2a;
    color: #ffffff;
    cursor: pointer;
}

.buttonsContainers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #deb887;
}

.display {
    display: flex;
    justify-content: flex-end;
    border: 1px solid #000000;
    background-color: #ee82ee;
    color: #ffffff;
}

.disable {
    background-color: grey;
}